

<html>

<body style="width:100%; min-height:100%;">
   
 <div class="wrapper" id="superAdminLoginBox" style="padding-top:100px; padding-bottom:200px;">
    
    <div class="login" >
    
    <form class="register" >
        
        <div class="title" style="text-align:center;" >
            <h2>Super Admin</h2>
            </div>
        <div style="text-align:center;">
            
            <input style="text-align:center;" type="text" id="email" placeholder="Enter Super Admin Email"ng-model="student.username" /> <br /><br/>

            
                <input style="text-align:center;" type="password" id="password" placeholder="Enter Password" ng-model="student.password" /> <br/><br />
            
            <nav>
                
                <input type="submit" style="background-color:rgba(255, 166, 0, 0.61); " routerLink ="/superadmindashboard" id="submitButton" value="Submit" />
            </nav>
       
       

       </div>
    </form>
    </div> 
    </div>  


   

