<app-user-navbar></app-user-navbar>  
<!-- <legend style="text-align:center;"><h1><b>USER INFORMATION</b></h1></legend> -->
<br>
<div class="profile">
 <div style="width:100%; height:600px;">
     <div style="text-align:center">
    <img src="bike1.jpg" width="200" height="100" />
     </div><br>
     <div style="text-align:center">
         <input type="Submit" style="background-color:orange;" routerLink="/userProfileEdit" value="Edit Profile" />
     </div><br>
    <div class="form-group row" style="text-align:center;"> 
        <label class="col-xs-6 col-form-label" style="text-align:center;">Name :</label>
         <!-- <div class="col-xs-6">{{user.name}}</div>  -->
    </div><br>

    
    <div class="form-group row" style="text-align:center;"> 
        <label class="col-xs-6 col-form-label" style="text-align:center;">Email :</label>
         <!-- <div class="col-xs-6">{{user.email}}</div>  -->
    </div><br>

    <div class="form-group row" style="text-align:center;"> 
        <label class="col-xs-6 col-form-label" style="text-align:center;">Password :</label>
         <!-- <div class="col-xs-6">{{user.password}}</div>  -->
    </div><br>

    <div class="form-group row" style="text-align:center;"> 
        <label class="col-xs-6 col-form-label" style="text-align:center;">Age :</label>
         <!-- <div class="col-xs-6">{{user.age}}</div>  -->
    </div><br>

    <div class="form-group row" style="text-align:center;"> 
        <label class="col-xs-6 col-form-label" style="text-align:center;">Mobile Number :</label>
         <!-- <div class="col-xs-6">{{user.mobilenumber}}</div>   -->
    </div><br>

</div> 
</div>
